<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
	<div class="container-fluid">
		<div class="navbar-wrapper">  
			<%= link_to 'SHOP', root_path, :class => "active navbar-brand" %>
			<ul class="nav nav-pills nav-justified">
				<li><%= link_to 'Home', root_path %></li>   
				<li><%= link_to 'Clothing', products_path %></li>
				<li><%= link_to 'Accessories', root_path %></li>
				<li><%= link_to 'Sign In', root_path %></li>
			</ul>
		</ul>
	</div>
</div>
</nav>