<div class="splash_top_cont">
	<div id="splash_top_text_holder">
		<h2><%= link_to 'SHOP', home_path %></h2>
		<ul>
		<li><%= link_to image_tag("shirt.png", alt: "Vivid Angles", size: "64x64"), 'images/shirt.png' %></li>
		<li><%= link_to image_tag("credit.png", alt: "Vivid Angles", size: "64x64"), 'images/credit.png' %></li>
		<li><%= link_to image_tag("bag.png", alt: "Vivid Angles", size: "64x64"), 'images/bag.png' %></li>
		</ul>
	</div>
</div>
<div class="splash_bottom_cont">	
	<div id="splash_bottom_text_holder">
		<h2><%= link_to 'LIFE', home_path %></h2>
		<ul>
		<li><%= link_to image_tag("chair.png", alt: "Vivid Angles", size: "64x64"), 'images/chair.png' %></li>
		<li><%= link_to image_tag("smoke.png", alt: "Vivid Angles", size: "64x64"), 'images/smoke.png' %></li>
		<li><%= link_to image_tag("cup.png", alt: "Vivid Angles", size: "64x64"), 'images/cup.png' %></li>
		</ul>
	</div>
</div>

