<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Liftline</title>
	<%= stylesheet_link_tag     "application", media: "all", "data-turbolinks-track" => false %>
	<%= stylesheet_link_tag	  "mobile" if mobile_device? %>
	<%= javascript_include_tag  "application", "data-turbolinks-track" => false %>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
